::ng-deep *{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    flex: 0;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-grow: 1;
    flex-flow: row;
    height: 100%;
}

.list-body{
    width: 20%;
    flex-shrink: 0;
    overflow-y: auto;
}

.list-item{
    display: flex;
    flex-direction: row;
    height:30px;
}

.list-item span{
    flex-grow: 1;
}
.hidden{
    visibility: hidden;
}

.hidden-button{
    display: none;
}

.visible{
    display:initial;
}

.selected{
    visibility: visible;
    background-color: #DEE0EC;
}

.recipe-view{
    width: 100%;
    flex:1;
}