<div class="container">
    <div class="header">
        <input (input)="onImport($event)" type="file"/>
        <a #export download="Update.L5X">Export</a>
    </div>
    <div class="wrapper">
        <div class="list-body">
            <ng-container *ngFor="let recipe of recipes | async; let i=index">
                <div [class.selected]="(selected | async)===recipe" class="list-item" (click)="onSelect(recipe)">
                    <span>
                        {{i}} {{recipe.description}}
                    </span>
                    <div class="hidden" [class.selected]="(selected | async)===recipe">
                        <button class="hidden-button" [class.visible]="copyRecipe" (click)="onRecipePaste(i)">
                            Paste
                        </button>
                        <button (click)="onRecipeCopy(recipe)">
                            Copy
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="recipe-view">
            <app-recipe [recipe]="selected | async"></app-recipe>
        </div>
    </div>
    
</div>