<div class="container">
    <div class="header">
        <input (input)="onImport($event)" type="file"/>
        <button  (click)="onExport();">Export</button>
    </div>
    <div class="wrapper">
        <div class="list-body">
            <ng-container *ngFor="let recipe of recipes | async; let i=index">
                <div [class.selected]="(selected | async)===recipe" class="list-item" (click)="onSelect(recipe)">
                    {{i}} {{recipe.description}}
                </div>
            </ng-container>
        </div>
        <div class="recipe-view">
            <app-recipe [recipe]="selected | async"></app-recipe>
        </div>
    </div>
    
</div>