<div class="container" *ngIf="layer">
    <div class="header">
        <div>
            <label for="target-count">Number Of Targets</label>
            <input class="numeric-input" id="target-count" type="text" [(ngModel)]="layer.count" [ngModelOptions]="{ updateOn: 'blur' }">
        </div>
        <div>
            <div>Offset</div>
            <label for="offset-trans-x">X:</label>
            <input class="numeric-input" id="offset-trans-x" type="text" [(ngModel)]="offset.trans.x" [ngModelOptions]="{ updateOn: 'blur' }">
            <label for="offset-trans-y">Y:</label>
            <input class="numeric-input" id="offset-trans-y" type="text" [(ngModel)]="offset.trans.y" [ngModelOptions]="{ updateOn: 'blur' }">
            <label for="offset-trans-z">Z:</label>
            <input class="numeric-input" id="offset-trans-z" type="text" [(ngModel)]="offset.trans.z" [ngModelOptions]="{ updateOn: 'blur' }">
            <label for="offset-rot-z">R:</label>
            <input class="numeric-input" id="offset-rot-z" type="text" [(ngModel)]="offset.euler.z" [ngModelOptions]="{ updateOn: 'blur' }">
        </div>    
        <!--<input id="offset-trans-z" type="text" [(ngModel)]="offset.trans.z" [ngModelOptions]="{ updateOn: 'blur' }">
        <input id="offset-rot-z" type="text" [(ngModel)]="offset.euler.z" [ngModelOptions]="{ updateOn: 'blur' }">-->
    </div>
    <div class="wrapper">
        <div class="list-body">
            <ng-container *ngFor="let target of layer.target; let i=index">
                <div [class.selected]="(selectedTarget | async)===target" class="list-item"  (click)="onTargetSelect(target)">
                    <span>
                        Target {{i}}
                    </span>
                    <div class="hidden" [class.selected]="(selectedTarget | async)===target">
                        <button class="hidden-button" [class.visible]="copyPick" (click)="onPickPaste(target)">
                            Paste
                        </button>
                        <button (click)="onPickCopy(target)">
                            Copy
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="target-view">
            <app-target [target]="selectedTarget | async"></app-target>
        </div>
    </div>
</div>
